<ion-content color="primary" padding>
  <ion-grid>
    <form [formGroup]="myForm">
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <header text-center>
            <h3>Nuevo Alumno</h3>
          </header>
          <main padding>
            <ion-item>
              <ion-label for="name" position="floating">Nombre</ion-label>
              <ion-input id="name" formControlName="name" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label for="curp" position="floating">Curp</ion-label>
              <ion-input id="curp" name="curp" formControlName="curp" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label for="controlnum" position="floating">Numero de control</ion-label>
              <ion-input id="controlnum" name="controlnum" formControlName="controlnumber" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label for="age" position="floating">Edad</ion-label>
              <ion-input id="age" name="age" formControlName="age" type="number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Activo</ion-label>
              <ion-toggle formControlName="active" color="secondary"></ion-toggle>
            </ion-item>
          </main>
          <footer padding>
            <ion-button size="large" type="button" [disabled]="!myForm.valid" (click)="create()" expand="block">Guardar
            </ion-button>
          </footer>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>